@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Water+Brush&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    height: 100vh;
    background: linear-gradient(to left, #aa4b6b, #6b6b83,#3b8d99);
}

.container {
    padding: 40px 20px;
    background: #ffff;
    border-radius: 10px;
    box-shadow: 10px 15px 20px rgba(0,0,0,.75),
    -5px -5px 10px rgba(0,0,0,.7),
    inset 3px 3px 10px rgba(0,0,0,.5),
    inset -3px -3px 10px rgba(0,0,0,.4);
    
}
h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}

.control {
    width: 100%;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.form-group {
    position: relative;
    width: 400px;
}
.form-group span {
    position: absolute;
    left: 0;
    bottom: 20px;
    height: 2px;
    width: 0px;
    background: #3f5efb;
    transition: 0.5s;
}

.form-group .control:focus ~ span {
    width: 400px;
}

.form-group:nth-child(7) input{
    margin: 0 10px;
    cursor: pointer;
}

.buttons {
    margin-top: 20px;
}

.buttons input {
    font-size: 20px;
    position: relative;
    width: 400px;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #009fff;
    font-weight: 500;
    box-shadow: 0 0 7px rgba(0,0,0,.75),
    inset 0 0 5px #333;
    cursor: pointer;
    transition: 0.25s;
}

.buttons input:hover {
    background: #355c7d;
}